@{ ViewData["Title"] = "Forside"; }

    <div class="text-center">
        <h1 class="display-4">Webapp med Adresser</h1>
        <p>En hurtig docker hostet webapp med en database</p>
        <p>Brug menuen ovenfor</p>
    </div>
